/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";

html {
  min-height: 100%;
  min-width: 100%;
}

body {
  background-image: linear-gradient(to bottom, #f6f1b2, #4599b2);
  background-clip: content-box;
  width: 800px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

section {
  height: 65%;
  width: 100%;
}

footer {
  position: relative;
  display: block;
  width: 646px;
  left: 154px;
  height: 116px;
}

footer img {
  position: relative;
  height: 45px;
  top: 46px;
  left: 536px;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  position: relative;
  height: 25%;
  width: 646px;
  left: 154px;
}

header h1{
  font-family: "ravie";
  color: #e90c0c;
  font-size: 36px;
}

header h2{


}

.price {
  float: right;
}

article {
  position: relative;
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #aac0ae;
  background-color: rgba(255,255,255,0.2);
  height: 100%;
  width: 646px;
  left: 154px;
  box-sizing: border-box;
  font-family: Verdana;
  color: #333;
  line-height: 2em;
  font-style: 14px;
  padding-bottom: 40px;
}

article h3 {
  font-size: 18px;
  font-weight: bold;
}

aside {
  position: absolute;
  width: 154px;
  top: 0px;
  left: 0px;
}

aside h2 {
  position: relative;
  display: block;
  top: 200px;
  font-family: Verdana;
  font-size: 48px;
  color: #333;
  font-style: bold;
  transform: rotate(-90deg);
}

#siri {
  position: relative;
  display: block;
  top: 7px;
  left: -10px;
}

#bolhas {
  position: relative;
  display: block;
  left: 40px;
  top: 225px;
}

#peixe {
  position: relative;
  top: 239px;
  left: -44px;
  display: block;
}

#ticket {
  position: fixed;
  top: 295px;
  left: -69px;
  transition: left 100ms ease-out;
}

#ticket:hover {
  left: 0px;
}
