/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";

html {
  min-height: 100%;
  width: 1000px;
}

body {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-clip: border-box;
}

main {
  background-image: linear-gradient(to bottom, #f6f1b2, #4599b2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  width: 800px;
  height: 100%;
  background-clip: border-box;
}

article {
  white-space: pre-line;
}

header {
  margin-left: 154px;
}

header h1 {
  font-family: 'Ravie';
  font-size: 36px;
  color: red;
}

header h2 {
  margin-right: 80px;
  font-family: trebuchet;
  font-size: 24px;
  color: #333;
  text-align: right;
}

header span{
  color: #d027aa;
}

aside {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 100px;
  width: 154px;
  font-family: verdana;
  font-size: 48px;
  color: #333;
}

aside h2 {
  display: block;
  transform: rotate(-90deg); /* dado em graus, sentido horário */
}

#siri {
  position: absolute;
  top: 7px;
  left: -10px;
}

#peixe {
  position: absolute;
  bottom: 0px;
  left: -44px;
}

#bolhas {
  position: absolute;
  bottom: 125px;
}

article {
  background-color: rgba(255,255,255,0.2);
  margin-left: 154px;
  width: 646px;
  border: 1px solid #aac0ae;


}

#ticket {
  position: absolute;
  top: 295px;
  left: -73px;
}

footer {
  height: 116px;
}

footer img{
  position: absolute;

  right: 115px;
  bottom: 25px;
}
